body {
    background-color: blanchedalmond;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    font-size: 2vh;
}

#logo {
    margin: 0px;
    padding: 8px;
    font-family: 'Fredoka One', sans-serif;
    box-shadow: 6px 6px 8px 2px bisque;
    width: 15%;
    text-shadow:
    1px 1px 0px black,
    -1px 1px 0px black,
    1px -1px 0px blueviolet,
    -1px -1px 0px blueviolet;
}

ul{
    margin: 0px;
}


body > header {
    background-color: burlywood;
    color: azure;
}

#main-header {
    display: flex;
    height: 8vh;
    align-items: center;
    justify-content: flex-start;
}

body > header > nav > ul {
    list-style: none;
}

#nav-ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#nav-ul > li {
    padding: 10px;
    margin: auto;
}

.navbutton {
    color: azure;
    text-decoration: none;
    padding: 6px;
    border: 1px solid white;
    border-radius: 8%;
}

body > main article {
    width: 70%;
    margin: auto;
}

#main-content {
    display: flex;
    justify-content: space-around;
}

#main-content > div {
    width: 80%;
}

form {
    text-align: center;
}

h3 {
    text-align: center;
}

h2 {
    text-align: center;
}

body > footer {
    background-color: burlywood;
    display: flex;
}

img {
    border-radius: 30%;
}

#footer-ul {
    display: flex;
    list-style: none;
}

#footer-ul > div > li {
    margin-left: 15px;
}

#footer-ul > div > li > a {
    text-decoration: none;
    color: azure;
}